{{#leaflet-map  bounds=bb  onMoveend=(action "updateCenter")}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{tile-layer url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"}}

{{!-- Specify child layer components here  <!--{{bounds=bbounds leaflet-mapzoom=zoom}}--> --}}
  {{#each restaurants as |r|}}
    {{#marker-layer lat=r.lat lng=r.lng draggable=true popupOpen=(readonly r.isOpen) onDragend=(action "updateLocation" r)}}
        <h3>{{r.name}}</h3>
        Rating: {{r.rating}}/5
    {{/marker-layer}}
  {{/each}}


{{/leaflet-map}}

{{outlet}}
