<br>
{{partial "search"}}

<table class="table table-striped table-bordered" >
    <thead class="thead-inverse">
      <tr>
        <th>Наименование вакансии</th>
        <th>Город</th>
        <th>Наниматель</th>
        <th>Валюта</th>
        <th>Сумма вознаграждения от</th>
        <th>до</th>
        <th>Требования</th>
        <th>Сфера ответственности</th>
        <th>Адрес</th>
      </tr>
    </thead>
    <tbody  class="table-striped">
    {{#each model.items  as |vacancies|}}
        <tr>
            <td>{{vacancies.name}}</td>
            <td>{{vacancies.area.name}}</td>
            <td>{{vacancies.employer.name}}</td>
            <td>{{vacancies.salary.currency}}</td>
            <td>{{vacancies.salary.from}}</td>
            <td>{{vacancies.salary.to}}</td>
            <td>{{{vacancies.snippet.requirement}}}</td>
            <td>{{vacancies.snippet.responsibility}}</td>
            <td>{{vacancies.address.street}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{outlet}}
